#usersContainer{
    width: 100%;
    bottom: 12px solid black;
    padding: 20px;
}

#usersContainer>h1{
    text-align: center;
}
.user{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    padding: 10px;
    margin-bottom: 10px;

}
.user>button{
    padding: 5px 20px;
    color:white;
    background-color: #1b8ed5;
    border: none;
    border-radius: 5px;
}

.user>button:hover{
    cursor: pointer;
    color:rgb(27,142,213);
    background-color: white;
    border: 1px solid #1b8ed5 ;
    transition: 0.2s;
}