#todoWrapper{
    background: rgb(129, 148, 148);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    
}
#todoWrapper>section{

    border: 1px solid gainsboro;
    width: 200px;
    padding: 10px;
}

#todoWrapper>section:hover{
    box-shadow: 5px 8px 5px black;
    transition: 0.5s;
}
#todoWrapper>section>button:last-of-type{
    margin-left: 20px;
}
#todoWrapper>section>button{
    padding: 3px 10px;
}